
body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  margin: 0;
  padding: 20px;
}
.voteButtons {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  
}
.voteButtons:hover{
background-color: chartreuse;
color:#f44336;
}
#reset{
  padding: 20px 30px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
#reset:hover{
background-color: chocolate;
}

#displayAnimals {
  display: flex;
  flex-wrap: wrap;
}

#displayAnimals > div {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(163, 104, 26);
}

#displayAnimals img {
  width: 100%;
  height: auto;
}

#animalName {
  font-weight: bold;
  margin-bottom: 10px;
}

#animalContent {
  margin-bottom: 20px;
}

  
  #displayAnimals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #displayAnimals > div {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #displayAnimals img {
    width: 100%;
    height: auto;
  }
  