body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    color: #333;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .vote-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .animal-details {
    margin-top: 40px;
    text-align: center;
  }
  
  .animal-name {
    font-size: 24px;
    color: #333;
  }
  
  .animal-content {
    margin-top: 10px;
    color: #666;
  }
  
  
  #displayAnimals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #displayAnimals > div {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #displayAnimals img {
    width: 100%;
    height: auto;
  }
  